<br/>
<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="home" class="nav-link px-2 link-secondary">LOGO</a></li>       
      </ul>

      <form class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" role="search">
        <input type="search" style="width: 500px;" class="form-control" placeholder="Search Medicines & more..." aria-label="Search" >
      </form>
      
        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"> 
        <a routerLink="/aboutus"  class="nav-link px-2 link-secondary">About Us</a>
        </div>
      <div>        
        <button class="btn btn-success" (click)="login()"> LOGIN</button>       
      
      </div>
    </div>
  </div>